<table *ngIf="taxReturns; else EmptyTemplate" class="table table-hover">
  <thead >
    <tr>
      <th scope="col">#</th>
      <th scope="col">income</th>
      <th scope="col">Filing Date</th>
      <th scope="col">Adjusted Gross Income</th>
      <th scope="col">Taxable Income</th>
      <th scope="col">Total Tax</th>
      <th scope="col">TaxWithheld</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr style="cursor: pointer;" (click)="router.navigate(['/tax/taxdetails/'+record.id]) " *ngFor="let record of taxReturns">
      <td>{{record.id}}</td>
      <td>{{record.income | currency}}</td>
      <td>{{record.filingDate | date}}</td>
      <td>{{record.adjustedGrossIncome | currency}}</td>
      <td>{{record.taxableIncome | currency}}</td>
      <td>{{record.totalTax | currency}}</td>
      <td>{{record.taxWithheld | currency}}</td>
      <td [ngClass]="record.status == 0 ? 'alert alert-danger': 'alert alert-primary' " >{{record.status | statusPipe}}</td>

    </tr>

  </tbody>
</table>

<ng-template #EmptyTemplate>
  <h1 class="text-center">You Haven't filed any taxes yet</h1>
</ng-template>
