
<div style="text-align: center;">

  <input (keydown.enter)="getUserData(ssninput.value)" class="form-control" placeholder="Social Security Number" type="text" #ssninput name="" style="margin-right: 2vw; display: inline-block; width: 200px;" >
  <button  (click)="getUserData(ssninput.value)" class="btn btn-secondary" >Search SSN</button>
</div>
<p>{{status_msg}}</p>
<div *ngIf="target_user " class="container">
  <div class="row">
    <div class="col-lg-3">
      <p>User ID :</p>
      <p>UserName :</p>
      <p>Email :</p>
      <p>PhoneNumber :</p>
      <p>city :</p>
      <p>country :</p>
      <p>State : </p>

    </div>
    <div class="col-lg-9">
      <p>{{target_user.userId}}</p>
      <p>{{target_user.userName}}</p>
      <p>{{target_user.email}}</p>
      <p>{{target_user.phoneNumber}}</p>

      <p>{{target_user.address.city}} </p>
      <p>{{target_user.address.state}}</p>
      <p>{{target_user.address.country}}</p>


    </div>

    <div class="col-lg-3">


    </div>
    <div class="col-lg-9">




    </div>

    <div  class="col-lg-12" *ngIf="target_user.taxReturnDtoReponses.length > 0 ; else emptytempalte">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">income</th>
            <th scope="col">filingDate</th>
            <th scope="col">adjustedGrossIncome</th>
            <th scope="col">taxableIncome</th>
            <th scope="col">totalTax</th>
            <th scope="col">taxWithheld</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;" *ngFor="let record of target_user.taxReturnDtoReponses">
            <td>{{record.id}}</td>
            <td>{{record.income | currency}}</td>
            <td>{{record.filingDate | date}}</td>
            <td>{{record.adjustedGrossIncome | currency}}</td>
            <td>{{record.taxableIncome | currency}}</td>
            <td>{{record.totalTax | currency}}</td>
            <td>{{record.taxWithheld | currency}}</td>
            <td  >
              <ng-container *ngIf="record.status == 0; else elsetempalte">
                <select  (change)="ChangeStatus(record.id,$event)">
                  <option *ngFor="let status of StatusData" [selected]="+status.value == record.status" value="status.value"> {{status.display}} </option>
                </select>
              </ng-container>
              <ng-template #elsetempalte>
                {{record.status | statusPipe}}
              </ng-template>
            </td>
            <td><button routerLink="/tax/taxdetails/{{record.id}}" class="btn btn-secondary">Check Record History</button></td>

          </tr>

        </tbody>
      </table>
    </div>

    <ng-template #emptytempalte>

      <div class="container text-center">
        <h1>This User Didn't Do Any Tax Returns</h1>
      </div>
    </ng-template>
  </div>
</div>
