
<input  type="month" #monthInput  [max]="maxYearMonth" >
<button style="margin-left: 2vw;" class="btn btn-primary" (click)=" targetMonth(monthInput.value)" >Enter</button>
<p>{{statusMsg}}</p>

<form [style.display]="hidden_flag ? 'none' : 'block'" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Income</label>
    <input
    [class.isInValid]="form.get('income')!.errors && form.get('income')!.touched"
    #input
    type="number" formControlName="income" class="form-control" >

    <p *ngIf="form.get('income')!.errors && form.get('income')!.touched" class="text-danger" >Please Enter a valid income tax </p>
  </div>
  <div class="mb-3">
    <label class="form-label">Adjusted Gross Income</label>
    <input
    [class.isInValid]="form.get('adjustedGrossIncome')!.errors && form.get('adjustedGrossIncome')!.touched"
    type="number" formControlName="adjustedGrossIncome" class="form-control" >
    <p *ngIf="form.get('adjustedGrossIncome')!.errors && form.get('adjustedGrossIncome')!.touched" class="text-danger" >Please Enter a valid Adjusted Gross Income tax </p>

  </div>

  <div class="mb-3">
    <label  class="form-label">Taxable Income</label>
    <input
    [class.isInValid]="form.get('taxableIncome')!.errors && form.get('taxableIncome')!.touched"
    type="number" formControlName="taxableIncome" class="form-control" >
    <p *ngIf="form.get('taxableIncome')!.errors && form.get('taxableIncome')!.touched" class="text-danger" >Please Enter a valid Taxable Income tax </p>

  </div>

  <div class="mb-3">
    <label  class="form-label">Total Tax</label>
    <input
    [class.isInValid]="form.get('totalTax')!.errors && form.get('totalTax')!.touched"
    type="number" formControlName="totalTax" class="form-control" >
    <p *ngIf="form.get('totalTax')!.errors && form.get('totalTax')!.touched" class="text-danger" >Please Enter a valid Total Tax  </p>

  </div>

  <div class="mb-3">
    <label  class="form-label">TaxWithheld</label>
    <input
    [class.isInValid]="form.get('taxWithheld')!.errors && form.get('taxWithheld')!.touched"
    type="number" formControlName="taxWithheld" class="form-control" >
    <p *ngIf="form.get('taxWithheld')!.errors && form.get('taxWithheld')!.touched" class="text-danger" >Please Enter a valid Tax WithHeld </p>

  </div>



  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
</form>

