<carousel [showIndicators]="false" [isAnimated]="true">
  <slide>
      <img src="assets/images/slide1.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/images/slide2.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/images/slide3.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to the Tax Payment Website</h1>
  </div>
</section>

<div class="row g-0" style="margin-top: 10vh;">
  <div class="col-lg-6 order-lg-1 text-white showcase-img" style=" height:65vh;">
    <img src="assets/images/about-img.jpg" style="width: 100%; aspect-ratio: 1/1;"  alt="">
  </div>
  <div class="col-lg-6 order-lg-2 my-auto showcase-text" style="padding-left: 7vw;">
      <h2>Introductions</h2>
      <p class="lead mb-0">Welcome to our tax management web application! Our platform is designed to provide a seamless and efficient way for taxpayers to file taxes online while allowing the government agency to track tax returns and manage data effortlessly. </p>
  </div>
</div>
